*{
  box-sizing: border-box;
  overflow: hidden;
}

.table{
  width: 900px;
  margin: auto;
  margin-top: 7rem;
}
th{
  background-color: rgb(224, 255, 255);
}
th,td{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}